body,html{
	height:100%;
	background-color:#CED8D9;

}
*{
	box-sizing:border-box;
}
#container{
	position:relative;
	
	height:100%;

	
}

#nav{
	padding-top:4%;
	width:20%;
	float:left;
	background-color:#fff;
	height:100%;
}
#nav img{
	height:50px;
	width:auto;
}

.current{
	opacity:.2;
}

#images{
	margin-top:4%;
	height:80%;
	width:80%;
	padding-left:5%;
	float:right;
}

#images img{
	max-height:100%;
	max-width:100%;
	float:left;
}
.clump{
	height:100%;
	display:none;

}

.description{
	display:block;
	float:left;
	margin:12px;

	height:30%;
	width:25%;
	min-width:200px;
	color:black;
	font-family:serif,"times";
	font-size:1em;
	z-index:2;
	padding:10px;
	background-color:#fff;
	
}

#skip{
	
	left:65%;
	position:fixed;
	top:35%;
	width:20%;
	height:10%;
	text-align:center;

}
#skip img{

	height:50px;
	width:auto;
	margin-left:15%;
	
}
.end{
	opacity:.5;
}
.hide{
	display:none;
}

@keyframes hoverStart{
	from{transform:translate(0px,3px);}
	to{transform:translate(0px,-6px);}
}
@-webkit-keyframes hoverStart{
	from{transform:translate(0px,3px);}
	to{transform:translate(0px,-6px);}
}
.active{
	-webkit-animation: hoverStart .2s linear 0s 1 forwards;
    animation: hoverStart .2s linear 0s 1 forwards;
}
@keyframes hoverEnd{
	from{transform:translate(0px,-6px);}
	to{transform:translate(0px,3px);}
}
.inactive{
    animation-name: hoverEnd;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;

}